@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Molengo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* dark theme */
	background-color: #1a202c;
	color: #e2e8f0;

	/* font */
	font-family: 'Nunito', sans-serif;
}
